body {
    background-color: navy;
}
#grid {
    /* 400px by 300px */
    width: 400px;        
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}
h3 {
    color: white;
    text-align: center;
    font-size: 4rem;
}
.flip {
    /* width: 20vh; */
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}