body {
    background-color: navy;
}
#grid {
    width: 80vh;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}
h3 {
    color: white;
    text-align: center;
    font-size: 4rem;
}